*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aliceblue;
    min-height: 10vh;
}

h2{
    text-align: center;
    width: 20vw;
}

form input, form button{
    padding: 0.5rem;
    font-size: 1rem;
    border: none;
    background-color: aliceblue;
}

form button{
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 10px;

}

form button:hover{
    color: aliceblue;
    background-color: black;
}
.main{
    background-color: #f1f1f1;
    height: 80vh;
    display: flex;
    justify-content: center;
}

.header-navbar{
    display: flex;
    justify-content: space-between;
    min-width: 20vw;
}

.header-navbar__btn{
    padding: 0px 10px;
}

.footer{
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100vw;
    background-color: black;
    height: 10vh;
    justify-content: space-around;
    color: white;
    align-items: center;;
}

.product-container{
    background-color: white;
    display: flex;
    flex-direction: column;
    margin: 10px 5px;
    max-width: 23vw;
    min-width: 20vw;
    align-items: center;
    height: 200px;
    padding: 10px;
}

.product-image{
    height: 100px;
    width: 100px;
}

.product-name{
    display: flex;
    flex: 1;
    text-align: center;
    max-height: 50px;
    margin: 10px 5px;
}

.product-price-container{
    display: flex;
    justify-content: space-between;
}

.product-price {
    padding: 0px 10px;
}

.purchase-icon{
    padding: 0px 10px;
}
