*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aliceblue;
    min-height: 10vh;
}

h1{
    text-align: center;
    width: 20vw;
    cursor: pointer;
}

form input, form button{
    padding: 0.5rem;
    font-size: 1rem;
    border: none;
    background-color: aliceblue;
}

form input{
    border: black 2px solid;
    border-radius: 10px;
}

form input:hover{
    border: aliceblue 2px solid;
    transition: all 0.1s ease;
}

form button{
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 10px;
    padding: 10px 15px;
}

form button:hover{
    color: aliceblue;
    background-color: black;

}

.ri-shopping-cart-line{
    height: 25px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
}

.ri-shopping-cart-line:hover{
    color: white;
    background-color: black;
    cursor: pointer;
}


.main{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0px 0px 10vh 0px;
    background-color: #f1f1f1;
    height: 100%;
    min-height: 80vh;
}

.header-navbar{
    display: flex;
    justify-content: space-between;
    min-width: 20vw;
}

.header-navbar__btn{
    padding: 0px 10px;
}

.footer{
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100vw;
    background-color: black;
    height: 10vh;
    justify-content: space-around;
    color: white;
    align-items: center;;
}

.product-container{
    background-color: white;
    display: flex;
    flex-direction: column;
    margin: 10px 5px;
    max-width: 200px;
    width: 20vw;
    align-items: center;
    height: 200px;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 2px 4px 4px gray;
}

.product-image{
    height: 100px;
    width: 100px;
}

.product-name{
    display: flex;
    flex: 1;
    text-align: center;
    max-height: 50px;
    margin: 10px 5px;
}

.product-price-container{
    display: flex;
    justify-content: space-between;
}

.product-price {
    padding: 0px 10px;
}

.purchase-icon{
    padding: 0px 10px;
}

select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;  
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    transition: all 0.05s ease;
    cursor: pointer;
    text-align: center;
}

select:hover{
    font-size: 1.0em;
    border: 3px black solid;
}

.header-navbar__btn{
    border-radius: 10px;
    border: none;
    background-color: aliceblue;
    font-size: 16px;
    transition: all 0.5s ease;
    text-align: center;
    padding: 0px 25px;
}

.header-navbar__btn:hover{
    color:white;
    background-color: black;
    cursor: pointer;
}

.discounted{
    color: red;
    font-weight: bold;
}